*{margin: 0 0;padding: 0 0;list-style:none;}
	header{width: 1025px;height: 198px;margin: 0px auto;}
	a{text-decoration: none;}
	section{min-height: 800px;width: 1025px;margin: 0px auto;background-color: white}
	nav{margin-bottom: 20px;padding: 5px 20px;height: 23px;background-color: #0E7AC3;text-align: center;}
	nav>ul>li{border-left: 2px white solid;float: left;width: 68px;height: 20px;padding:0px 6px;}
	nav>ul>li>a{color: white;}
	nav>ul>li>a:HOVER{color: red;}
	nav>ul>li>ul{margin-top: 6px;position: relative;}
	nav>ul>li>ul>li{display: none;border: 1px solid orange;padding-top: 3px;background-color: #0E7AC3;}
	nav>ul>li>ul>li>a{color: white;}
	article{min-height: 1420px;}
	article>aside{height: 770px;float: left;width: 25%;background-color: white;}
	article>aside>div>ul>li{text-align: center;color: #0E7AC3;width: 215px;padding-top: 5px;}
	#a>ul>li{text-align: center;color: #FFCFA7;width: 215px;font-size: 14px;padding-top: 5px;}
	#b>ul>li{text-align: left;color: #FFCFA7;width: 210px;padding-top: 5px;font-size: 12px;padding: 5px;border-bottom: 1px dashed gray;}
	#b>ul>li>span{float: right;color: #5E3276;}
	#c2>a{text-align: left;padding-left: 20px;font-size: 16px;background-color: #F0FAFF;width: 215px;}
	/* #c1>table>tr>td{font-size: 12px;padding-left: 10px;"}
	#c3>a{float: right;padding-right:25px;font-size: 15px;} */
	#d>ul>li{text-align: left;color: #FFCFA7;width: 210px;padding-top: 5px;font-size: 12px;padding: 5px;border-bottom: 1px dashed gray;}
	#d>ul>li>span{float: right;color: #5E3276;}
	#e>ul>li{text-align: left;color: #FFCFA7;width: 210px;padding-top: 5px;font-size: 12px;padding: 5px;border-bottom: 1px dashed gray;}
	#f>ul>li{text-align: left;color: #FFCFA7;width:	480px;padding-top: 5px;font-size: 12px;padding: 5px;border-bottom: 1px dashed gray;}
	#f>ul>li>span{float: right;color: #5E3276;}
	#TabTitle{background-color: #0E7AC3;width: 495px;height: 24px;}
	#TabTitle0>span{color: white;text-align: center;padding-top: 1px;font-size: 18px;background-color: #0E7AC3;}
	#TabTitle1>span{color: white;text-align: center;padding-top: 1px;font-size: 18px;background-color: #0E7AC3;}
	#TabTitle2>span{color: white;text-align: center;padding-top: 1px;font-size: 18px;background-color: #0E7AC3;}
	
	#g>ul>li{text-align: left;color: #FFCFA7;width:	480px;padding-top: 5px;font-size: 12px;padding: 5px;border-bottom: 1px dashed gray;}
	#g>ul>li>span{float: right;color: #5E3276;}
	.more{float: right;font-size: 15px;	margin-right: -10px;}
	#h>ul>li{text-align: left;color: #FFCFA7;width:	480px;padding-top: 5px;font-size: 12px;padding: 5px;border-bottom: 1px dashed gray;}
	#h>ul>li>span{float: right;color: #5E3276;}
	#i>ul>li{text-align: left;color: #FFCFA7;width:	480px;padding-top: 5px;font-size: 12px;padding: 5px;border-bottom: 1px dashed gray;}
	#i>ul>li>span{float: right;color: #5E3276;}
	
	#j>ul>li{text-align: left;color: #FFCFA7;width:	480px;padding-top: 5px;font-size: 12px;padding: 5px;border-bottom: 1px dashed gray;}
	#j>ul>li>span{float: right;color: #5E3276;}
	#k>ul>li{text-align: left;color: #FFCFA7;width:	480px;padding-top: 5px;font-size: 12px;padding: 5px;border-bottom: 1px dashed gray;}
	#k>ul>li>span{float: right;color: #5E3276;}
	#l>ul>li{text-align: left;color: #FFCFA7;width:	480px;padding-top: 5px;font-size: 12px;padding: 5px;border-bottom: 1px dashed gray;}
	#l>ul>li>span{float: right;color: #5E3276;}
	
	#A>ul>li{float: left;padding-top: 5px;padding: 5px;padding-left: 15px;text-align: left;}
	#B>ul>li{float: left;padding-top: 5px;padding: 5px;padding-left: 15px;text-align: left;font-size: 12px;border-bottom: 1px dashed gray;}
	#C>ul>li{float: left;padding-top: 5px;padding: 5px;padding-left: 15px;text-align: left;font-size: 12px;border-bottom: 1px dashed gray;}
	
	.inpage{text-align: center;padding-top: 5px;color: white;font-size: 16px;}
	.inpage>a{text-align: center;padding-top: 5px;color: white;font-size: 16px;}
